#include "Resources.h"

// ---------------------------------------------------------------------

IDI_ICON        ICON        "Resources\\_Icon1.ico"
IDC_CURSOR      CURSOR      "Resources\\_Cursor.cur"

// ---------------------------------------------------------------------


